@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  font-family: "ZCOOL KuaiLe", cursive;
}

.home {
  display: flex;
  justify-content: center;
  height: 250px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.team_list {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

}


