.team {
  display: inline-block;
  text-align: left;
  width: 250px;
  padding-top: 15px;
}

.team span:hover {
  cursor: pointer;
  transition: 0.4s;
  color: rgb(124, 117, 107);
}

.team:nth-child(even) {
  text-align: right;
}
